<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            Senior Project Front!
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item move">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item move">
                    <a href="#" class="nav-link">Checker</a>
                </li>
                <li class="nav-item move">
                    <a href="#" class="nav-link">Login</a>
                </li>
                <li class="nav-item move">
                    <a href="#" class="nav-link">Register</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>