.navbar {
    background-color: rgb(38, 38, 38)  !important;
}

.navbar .navbar-brand {
    color: coral;
    font-family: 'Fira Code', monospace;
    font-size: larger;
}

.navbar-brand {
    margin-left: 5em;
}

.navbar-collapse {
    margin-right: 5em;
}

.navbar .navbar-nav .nav-item a {
    color: white !important;
    font-family: 'Fira Code', monospace;
    font-size: large;
}

.navbar .navbar-nav .nav-item a:hover {
    color: coral !important;
}

.navbar .navbar-nav .move-right {
    margin-right: 3em;
}

@media (max-width: 2560px) {
    .navbar {
        font-size: large;
    }
}

@media (max-width: 1920px) {
    .navbar {
        font-size: large;
    }
}

@media (max-width: 1200px) {
    .navbar-brand {
        margin-left: 3em;
    }

    .navbar .nav-item .move-right {
        margin-right: 3em;
    }
}

@media (max-width: 1024px) {
    .navbar-brand {
        margin: 0;
    }

    .navbar-collapse {
        margin: 0;
    }

    .navbar .nav-item .move-right {
        margin-right: 3em;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: large;
    }

    .navbar-brand, 
    .navbar-collapse {
        margin: 0;
    }

    .navbar .nav-item .move-right {
        margin: 0;
    }
}

@media (max-width: 320px), (max-width: 375px), (max-width: 425px) {
    .navbar .navbar-brand {
        font-size: medium;
        margin-left: .5em;
        margin-right: 0em !important;
    }

    .navbar .navbar-toggler {
        margin-right: .5em;
    }
    .navbar .navbar-nav{
        display: block;
        margin: auto;
    }

    .navbar-collapse {
        margin: auto;
    }
    
    .navbar .navbar-nav .move-right {
        margin: auto;
    }

    .navbar .navbar-nav .nav-item a {
        text-align: center;
    }
}