img {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px gray;
}

div.backgrd {
    background: rgb(199, 199, 199);
}

div.moveform {
    padding-left: 3em;
    padding-top: 3em;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: black;
}