<div class="container">
    <h1 class="display-3 text-coral"><a routerLink="/home" routerLinkActive="active" class="text-coral">Anti-Plagiarism</a></h1>
    <h2 class="display-4 text">Description</h2>
    <p align="justify"class="lead text-blue">Our platform will check your code for plagiarism by using Machine Learning and Rabin-Karp algorithm.</p>
    <p align="justify" class="lead text-blue">First you need to <a routerLink="/register" routerLinkActive="active" class="text-yellow">register</a>. If you have an account then <a routerLink="/login" routerLinkActive="active" class="text-yellow">login</a> and gain access to our checker.
    Both processes requires you to enter e-mail and password. As soon as you do that you'll get token and an access to <a routerLink="/checker" routerLinkActive="active" class="text-yellow">checker</a>.</p>
    <p align="justify" class="lead text-blue last-element">The form allows you to choose programming language which you used to write code. The list of available languages to check consists of Python, C++ and Java.
        After that you just need to upload file and press submit button.
    </p>
</div>
