<!-- <footer> class="fixed-bottom" -->
<footer class="text-styling">
    <div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-6">
            <hr class="light">
            <h5 class="scailing-text">Anti-Plagiarism</h5>
            <!-- <img src="/Users/arman/Desktop/internship/angular-webdev-final/img"> -->
            <hr class="light">
            <p class="footer-text">555-555-5555</p>
            <p class="footer-text">email@gmail.com</p>
            <p class="footer-text">Tole Bi, 59</p>
            <p class="footer-text">Almaty, 050000</p>
        </div>
        <div class="col-md-6">
            <hr class="light">
            <h5 class="scailing-text">Our Hours</h5>
            <hr class="light">
            <p class="footer-text">Monday-Friday: 9am - 6pm</p>
            <p class="footer-text">Saturday: 10am - 6pm</p>
            <p class="footer-text">Sunday: closed</p>
        </div>
        <!-- <div class="col-md-4">
            <hr class="light">
            <h5 class="scailing-text">Our Partners</h5>
            <hr class="light">
            <p class="footer-text">Google</p>
            <p class="footer-text">Google</p>
            <p class="footer-text">Google</p>
            <p class="footer-text">Google</p>
        </div> -->
        <div class="col-12">
            <hr class="light-100">
            <h5 class="copy-rights">&copy; Anti-Plagiarism</h5>
        </div>
    </div>
    </div>
</footer>
    